<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
		<h1>RGUKT</h1>
		<a href="/campuses">all campuses</a><br>
	
 	<a href="/campuses">click here to add campus</a><br>
	
	  <a href="/getAllDepartments" >click here to add Department to campus</a><br>
	
<!--  <a href="/getSectionsByDepartmentId">click here to add Section to department</a><br>
	
	<a href="/getStudentsBySectionId">click here to add Student to section</a><br>
		
	-->
	
</body>
</html>